@import url(https://fonts.googleapis.com/css?family=Cinzel|Balthazar);
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');



.navegacion{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}


h1{
    font-family: 'Cinzel', serif;
    font-size: 100px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}

h2{
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}



h3{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}


body{
    font-family: 'Forum' serif;
    font-size: 20px;
}


